node_modules/
dist/
build/*.exe
build/stub.js
.vs/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
x64/
Release/
Debug/
ipch/
*.log
*.tmp
res/loc/embedded.loc
nuevo-diseño/
docs/superpowers/
electron/app/electron-shim.js
Rufus-Poxi-pregemini.zip
